form ::ng-deep {
  &,
  ion-grid {
    height: 100%;
  }
  ion-grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @media all and (min-width: 575px) {
      justify-content: center;
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: 'color 99999s ease-out, background-color 99999s ease-out';
    -webkit-transition-delay: 99999s;
  }
}
